<section class="section">
  <div class="container has-text-centered">
    <p>{{ site.copyright }}</p>
  </div>
</section>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
{#
{% for lang in site.params.highlight.languages %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/{{ lang }}.min.js"></script>
{% endfor %}
#}
<script>hljs.initHighlightingOnLoad();</script>
{% if site.google_analytics %}
<script>
!function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","{{ site.google_analytics }}","auto"),ga("send","pageview");
</script>
{% endif %}
