<!DOCTYPE html>
<html{% if site.languagecode %} lang="{{ site.languagecode }}"{% endif %}>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}{% if not is_home %} | {{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{#
{% if site.params.highlight.style %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/{{ site.params.highlight.style }}.min.css">
{% else %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
{% endif %}
#}
