<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ site.baseurl }}"><h1 class="title is-4">{{ site.title }}</h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {#
          {% for social in site.params.social %}
          <a class="level-item" href="{{ social.url }}">
            <span class="icon">
              <i class="fa {{ social.fa_icon }}"></i>
            </span>
          </a>
          {% endfor %}
          #}
        </nav>
      </div>
    </nav>
  </div>
</section>
