<section class="section">
  <div class="container">
    <nav class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          {#
          {% if paginator.has_prev %}
          <a class="button" href="{{ paginator.prev.url }}">
            <span class="icon is-small is-marginless">
              <i class="fa fa-angle-left"></i>
            </span>
            Newer
          </a>
          {% else %}
          <a class="button is-disabled">
            <span class="icon is-small is-marginless">
              <i class="fa fa-angle-left"></i>
            </span>
            Newer
          </a>
          {% endif %}
        </div>
      </div>
      <div class="level-right is-marginless">
        <div class="level-item">
          {% if paginator.has_prev %}
          <a class="button" href="{{ paginator.next.url }}">
            Older
            <span class="icon is-small is-marginless">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
          {% else %}
          <a class="button is-disabled">
            Older
            <span class="icon is-small is-marginless">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
          {% endif %}
          #}
        </div>
      </div>
    </nav>
  </div>
</section>
