{% include "partial/header.html" %}
{% include "partial/nav.html" %}
<section class="section">
  <div class="container">
    <h2 class="subtitle is-6">{{ object.date.strftime("%Y-%m-%d") }}</h2>
    <h1 class="title">{{ object.title }}</h1>
    <div class="content">
      {{ object.content }}
    </div>
  </div>
</section>
{% include "partial/disqus.html" %}
{{ include "partial/footer.html" %}
