{{ partial "header" . }}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title notfound">404</h1>
      <h2 class="subtitle is-4">
        Page not found
      </h2>
      <a class="button" href="{{ site.baseurl }}">Home Page</a>
    </div>
  </div>
</section>
