{% include "partials/header.html" %}
{% include "partials/nav.html" %}
<section class="section">
  <div class="container">
    {% for obj in objects %}
    <article>
      <h2 class="subtitle is-6">{{ obj.date.strftime('%Y-%m-%d') }}</h2>
      <h1 class="title"><a href="{{ obj.permalink }}">{{ obj.title }}</a>{% if obj.draft %} ::Draft{% endif %}</h1>
      <div class="content">
        {{ obj.summary }}
        {% if obj.truncated() %}
        ...<a class="button is-link" href="{{ obj.permalink }}" style="height:28px">
          Read more
          <span class="icon is-small">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% include "partials/pager.html" %}
{% include "partials/footer.html" %}
